.node {
    border: 3px solid;
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: lavender;
    border-radius: 15px;
    color: cornflowerblue;
}